*
!main_cn.tex
!*.bib
!.gitignore
!images_zzzaurak/
!images_zzzaurak/target_status_table.png
!images_zzzaurak/SN2026FVX_line_diagnostics_grid.png
!images_zzzaurak/SN2026JLM_line_diagnostics_grid.png
!images_zzzaurak/SN2026KID_line_diagnostics_grid.png
!images_zzzaurak/SN2026KIE_line_diagnostics_grid.png
!images_zzzaurak/SN2026LMP_line_diagnostics_grid.png
!images_zzzaurak/final5_line_velocity_evolution.png
!images_zzzaurak/final5_pew_evolution.png
!images_zzzaurak/final5_fwhm_evolution.png
!images_zzzaurak/final5_line_depth_evolution.png
!images_zzzaurak/final5_blackbody_temperature.png
!images_zzzaurak/tardis_comparison_SN2026FVX.png
!images_zzzaurak/tardis_comparison_SN2026JLM.png
!images_zzzaurak/tardis_comparison_SN2026KID.png
!images_zzzaurak/tardis_comparison_SN2026KIE.png
